.settings-view {
  padding-top: 4em;
  padding-bottom: 2em;
  transform: translate(-50%);
  position: absolute;
  left: 50%;
  width: 70%;
}

.settings-profile-pic {
  width: 13em;

  img {
    width: 100%;
  }
}

.settings-group-flex {
  display: flex;
}

.settings-profile-pic {
  margin-right: 1em;
  margin-bottom: 1em;
}

.disabled-class {
  background-color: green;
}

.tab-content {
  padding: 1em;
}

.delete-profile-button {
  border: none;
  background-color: red;
  color: white;
  padding: .65em;
}
