.category {
  background: transparent;
  border: 1px solid gray;
  min-height: 20em;
  min-width: 25em;
  margin: 1em;
  padding: 1em;
}

.category_title {
  background: gray;
  width: 100%;
  height: 1.2em;
  text-align: center;
}

.inner_category {
  margin: 1em;
  padding: 1em;
}

ul[dnd-list] .dndDraggingSource {
  display: none;
}

ul[dnd-list] .dndPlaceholder {
  background-color: #ddd;
  display: block;
  min-height: 3em;
  min-width: 19em;
  padding: 1em;
  margin-top: 1em;
}

.task_list {
  min-height: 20em;
}

#newCat {
  border: 1px dashed gray;
}

#newCatPlus {
  max-width: 8em;
  margin: 5em auto;
  display: block;
}

#newCatMsg {
  text-align: center;
}
