<div class="inner_category">
  <div class="category_title" ng-show="categoryCtrl.category.categoryID !== 'newCat'">
    <i ng-hide="categoryCtrl.title==='uncategorized'" class="material-icons">drag_handle</i>
    <h3>
      {{ categoryCtrl.title }}
    </h3>
    <i ng-hide="categoryCtrl.title==='uncategorized'" ng-click="categoryCtrl.showSettings = !categoryCtrl.showSettings" class="material-icons">settings</i>
  </div>

  <div ng-show="categoryCtrl.showSettings" class="category-settings">
    <form
      class="edit-category"
      name="settingsForm"
      ng-submit="categoryCtrl.updateCategory()"
      novalidate>
      <label>Edit Category Name:</label>
      <input class="input-std"
        type="text"
        name="category title"
        ng-model="categoryCtrl.editCategoryTitle"
        required>
        <div class="button-group">
          <button type="button" ng-click="categoryCtrl.cancelEdit()">Cancel</button>
          <button type="submit">Submit</button>
        </div>
    </form>
    <div class="delete-category">
      <h4>Delete Category</h4>
      <p>Note: Deleting a category will move all tasks to uncategorized bucket. You cannot undo this action.</p>
      <button type="button" ng-click="categoryCtrl.deleteCategory()">Delete</button>
    </div>
  </div>

  <div ng-show="!categoryCtrl.showSettings">
    <ul ng-show="categoryCtrl.category.categoryID !== 'newCat'"
    class="task_list"
    dnd-list="categoryCtrl.category.tasks"
    >
      <li
      ng-repeat="task in categoryCtrl.category.tasks | resolved | document : categoryCtrl.docfilter"
      class="task_item"
      dnd-draggable="task"
      dnd-moved="categoryCtrl.category.tasks.splice($index, 1)"
      dnd-effect-allowed="move"
      >
        <task-item task='task'></task-item>
      </li>
    </ul>
  <div
  ng-show="categoryCtrl.category.categoryID === 'newCat' && !categoryCtrl.showNewCategoryForm"
  ng-click="categoryCtrl.showNewCategoryForm = true">
  <img id="newCatPlus" src="../../assets/noun_705280.svg" />
  <p id="newCatMsg">
    Add a new category
  </p>
  </div>
  <div
    ng-show="categoryCtrl.showNewCategoryForm"
    class="category-settings">
    <form
      class="edit-category"
      name="newCategoryForm"
      ng-submit="categoryCtrl.createNewCategory()"
      novalidate>
      <label>New Category Name:</label>
      <input
        class="input-std"
        type="text"
        name="category title"
        ng-model="categoryCtrl.newCategoryName"
        required/>
      <div class="button-group">
        <button type="button" ng-click="categoryCtrl.cancelNewCategoryForm()">Cancel</button>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
  </div>
</div>
