.task_item {
  border: 1px solid black;
  margin-top: 1em;
  min-height: 3em;
  min-width: 19em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1em;
}

.task_item:hover {
  cursor: grab;
}

.task_item:active {
  cursor: grabbing;
}

.drag_drop_icon {
  max-width: 2em;
  max-height: 2em;
}
.left_icon {
  margin: .5em;
  min-width: 2em;
}
