.inner-task-item {
  border: 1px solid black;
  min-height: 3em;
  min-width: 19em;
  display: flex;
  flex-direction: row;
  // align-items: center;
  position: relative;
  padding: 1em;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.3);
}

.task_item:hover {
  cursor: grab;
}

.task_item:active {
  cursor: grabbing;
}

.drag_drop_icon {
  max-width: 2em;
  max-height: 2em;
}
.left_icon {
  margin: .5em;
  min-width: 2em;
}
