<div
  class="inner-task-item"
  ng-class="{ 'faded-task' : taskCtrl.task.document === taskCtrl.docfilter && taskCtrl.docfilter}"
  >
  <div class="task-handle-centered">
    <i class="material-icons">drag_handle</i>
  </div>
  <div class="task-content">
    <p class="task-document">
      <a ng-href="{{ taskCtrl.task.link }}" target="_blank">Go to task</a>
    </p>
    <div class="task-comment task-content-separator">
      <h4 class="task-h4">Assigned Task</h4>
      <p>
        {{ taskCtrl.task.comment }}
      </p>
    </div>
    <div class="task-quote task-content-separator">
      <h4 class="task-h4">Document Text</h4>
      <p>
        {{ taskCtrl.task.quote }}
      </p>
    </div>
    <div ng-show="taskCtrl.showInfo">
      <div class="task-replies task-content-separator" ng-show="taskCtrl.task.replies.length">
        <h4 class="task-h4">Replies</h4>
        <div class="wrapper">
          <div class="reply" ng-repeat="reply in taskCtrl.task.replies">
            <i class="material-icons md-18 arrow">subdirectory_arrow_right</i>
            <div class="comment">
              <div class="flex">
                <img class="commentPic" ng-src="https://{{ reply.authorPic }}">
                <div class="authorData">
                  <p>Created by: {{ reply.authorName }}</p>
                  <p class="date">Created on: {{ reply.createdTime | date }}</p>
                </div>
              </div>
              <p class="replyContent">
                {{ reply.content }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="task-info task-content-separator">
        <h4 class="task-h4">Info</h4>
        <p>Created By: {{taskCtrl.task.author}}</p>
        <p>Date created: {{taskCtrl.task.assignedDate | date}}</p>
      </div>
      </div>
  </div>
  <div class="icons">
    <i class="material-icons check">check_circle</i>
    <div ng-click="taskCtrl.showInfoToggle()">
      <i ng-show="!taskCtrl.showInfo" class="material-icons icon-vertical-center">info_outline</i>
      <i ng-show="taskCtrl.showInfo" class="material-icons icon-vertical-center">close</i>
    </div>
  </div>
</div>
