@import "../../scss/lib/theme/_vars.scss";

.tasks-view {
  // background-image: none;
  // background-color: white;
  // padding: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-page-title {
  margin-left: 1.25em;
  font-size: 2rem;
}

.task-page-refresh {
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.refresh-title {
  text-align: center;
  font-size: .75em;
}

.category_view {
  display: flex;
  flex-direction: row;
  // width: 100vw;
  min-height: 50vw;
  overflow-x: scroll;
  // border: 1px solid red;
}

.category_box {
  min-height: 15em;
  min-width: 100%;
  // max-width: 30%;
}

@media (min-width:550px) {
  .category_box {
    min-height: 15em;
    min-width: 75%;
    max-width: 75%;
  }
}

@media (min-width:750px) {
  .category_box {
    min-height: 15em;
    min-width: 60%;
    max-width: 60%;
  }
}

@media (min-width:950px) {
  .category_box {
    min-height: 15em;
    min-width: 45%;
    max-width: 45%;
  }
}

@media (min-width:1050px) {
  .category_box {
    min-height: 15em;
    min-width: 40%;
    max-width: 40%;
  }
}

@media (min-width:1350px) {
  .category_box {
    min-height: 15em;
    min-width: 30%;
    max-width: 30%;
  }
}
