<section class="tasks-view">
  <div class="title-bar">
    <div>
      <h2 class="task-page-title">Tasks View</h2>
      <form name="myForm">
        <label for="document-filter" class="material-icons">filter_list</label>
        <select name="document-filter" id="document-filter" ng-model="tasksCtrl.docFilter">
          <option value="">--Filter by Document--</option>
          <option ng-repeat="document in tasksCtrl.documents" value="{{ document.googleID }}">{{ document.name }}</option>
        </select>
      </form>
    </div>
    <div ng-click="tasksCtrl.refresh()" class="task-page-refresh">
      <i class="material-icons">refresh</i>
      <p class="refresh-title">
        refresh
      </p>
    </div>
  </div>
  <div class="category_view">
    <category
      class="category_box"
      ng-repeat="category in tasksCtrl.categories"
      category="category"
      docfilter="tasksCtrl.docFilter"
      id="{{ category.categoryID }}"
      >
    </category>
    <category
      class="category_box"
      id="newCat"
      category="{
        categoryID:'newCat',
        tasks:[]
      }">
    </category>
  </div>
</section>
