@import "../../scss/lib/theme/vars";

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.greeting {
  font-size: 1.25rem;
  color: $txt-color-white;
}

.in-nav {
  margin: 5px 25px;
}

.buttons {
  margin-top: 20px;
}

.profile img:hover {
  opacity: 0.7;
}

.profile-pic{
  margin: .25em;
  max-width: .75em;
  max-height: 1em;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 4em;
}

.dropdown-menu {
  background-color: $color-secondary-light;
  border: 1px solid black;
  margin-right: 2em;
  margin-top: -0.75em;
  min-width: 12em;
}
