@import "../../scss/lib/theme/vars";

nav {
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2%;
  margin: -1% -1% 0 -0;
  background-color: #294247;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

button {
  background-color: #E74C3C;
  color: white;
  border: none;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}

h3 {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.in-nav {
  margin: 5px 25px;
}

.logo {
  margin-top: 30%;
  cursor: pointer;
  cursor: hand;
  color: #E74C3C;
}

.buttons {
  margin-top: 20px;
}

.profile-pic{
  margin: 1em;
  max-width: 4em;
  max-height: 4em;
  border-radius: 25px;
}

.dropdown-menu {
  background-color: #e5e5e5;
}
