@import "../../scss/lib/theme/vars";

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.greeting {
  font-size: 1rem;
}

.in-nav {
  margin: 5px 25px;
}

.buttons {
  margin-top: 20px;
}

.profile-pic{
  margin: .25em;
  max-width: 4em;
  max-height: 4em;
  border-radius: 25px;
  font-size: 4em;
}

.dropdown-menu {
  background-color: $color-secondary-light;
  border: 1px solid black;
  margin-right: 2em;
  margin-top: -0.75em;
  min-width: 12em;
}
