<nav>

  <div ng-hide="navbarCtrl.hideButtons" uib-dropdown is-open="status.isopen">

    <div
    class="profile"
    uib-dropdown-toggle>
      <h3 class="greeting">Welcome, {{navbarCtrl.user.name.split(' ')[0]}}!</h3>
      <img class="profile-pic"
      ng-disabled="disabled"
      ng-src="{{navbarCtrl.user.profilePic}}"
      ng-show="navbarCtrl.user.profilePic"/>
      <i ng-show="!navbarCtrl.user.profilePic" class="material-icons profile-pic">face</i>
    </div>

    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
      <li role="menuitem"><a href="#!/settings">Settings</a></li>
      <li role="menuitem" ng-click="navbarCtrl.logout()"><a href='#'>Logout</a></li>
    </ul>
  </div>

  <!--show if the user is not logged in -->
  <div ng-hide="navbarCtrl.hideLogButtons" class="buttons in-nav">
    <button class="button login"><a class="get-started" ng-href="{{navbarCtrl.googleAuthURL}}">LOGIN</a></button>
  </div>


</nav>
