body {
  background-image: url('../../assets/landing-background.jpg');
}

nav {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
  margin: -1% -1% 0 -1%;
}

p {
  color: #E74C3C;
  font-size: 2em;
  font-weight: bold;
}

button {
  background-color: #E74C3C;
  color: white;
  border: none;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}

.in-nav {
  margin: 0 25px;
}

.logo {
  cursor: pointer;
  cursor: hand;
}

.buttons {
  margin-top: 30px;
}
.main {
  max-width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 10%;
  padding: 5% 10%;
}

.get-started {
  margin-top: 5%;
  padding: 3% 12%;
  font-size: 18px;
  border-radius: 5%;
}

.main-para {
  color: black;
}
